*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background: #1A1A1C;
}
.logo2{
margin-left: 0px;
margin-bottom: 10px;
}
.dashboard{
  
    display: flex;
    justify-content: center;
    margin-left: 500px;
    padding-bottom: 0px;
    height: 23px;
    font-family: sans-serif;
    width: 600px;
    display: none;
    }
.dashboard2{
    padding-left: 20px;
  
    background: #C43A40;
    height: 100vh;
    padding-top: 25px;
  }
.dashboard2 a{
    color: black;
    font-family: sans-serif;
    color:white;
}
.table1{
    color: white;
    font-family: sans-serif;
}
/* body{
    min-height: 100vh;
  } */
  a{
    text-decoration: none;
  }
  li{
    list-style: none;
  }
.side-menu{
     margin-top: 50px;
    font-family: sans-serif;
}
.side-menu li:hover{
    background: #19A0FB;
}
.data{
    /* background: black; */
}
  /* /* .side-menu .brand-name .li .img{
    max-height: 40px;
    opacity: 0;
  } */

  /* .btn{
    background: gray;
    color: white;
    padding: 5px 10px;
    text-align: center;
  }
  .btn:hover{
    color: brown;
    background: white;
    padding: 3px 8px;
    border: 2px  soilid red;
  } */






  /* .side-menu{
    position: fixed;
    background: rgb(133, 204, 200);
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  } */
  /* .side-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center; */
  /* }
  .side-menu li{
    font-size: 24px;
    padding:10px 40px ;
    color: rgb(4, 33, 58);
    display: flex;
    align-items: center;
  } */
  /* .side-menu li:hover{
    background: rgb(236, 208, 204);
    color: red; */
  /* }
  .btn-group{ */
    /* margin-left: 210px;
    margin-top: 0; */
    /* position:fixed; */
    /* background: rgb(206, 162, 176); */
    /* width: 20vw; */
    /* max-height: 100vh; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    /* align-items: center;    */
  /* }
  .btn-group .ul{
    position: relative;
    right: 0;
    width: 80vw;
    height: 100vh;
    color: blue;
  }  */