*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
 .top {
    padding: 0;
    margin: 0;
    background-image: url("../images/bcg.jpg");  
    background-size: cover;
    background-position: 0px;
    background-origin: content-box;
    background-repeat: no-repeat;
    color: whitesmoke;
    height: 200vh;
    
    
    
}
#nav{
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#nav span{
    color: turquoise;
}
@media only screen and(max-width=100%){.nav-tab{
    flex:10px;
    text-align: right;
    color: #E1EBE6;
    }}

    .nav-bar ul li{
    list-style: none;
    padding:10px 30px;
    text-align:right;
    display:inline-block;
    position:relative
    }
.nav-bar ul a{
text-decoration: none;
color: white;
} 
.nav-bar{
    margin-left: 400px;
}
.span2{
    height: 30px;
    width: 85px;
    border-radius: 4px;
    border: 1px solid white;
    color: black;
    background-color: white;
    text-align: center;
    padding-top: 4px;
    
}
.media{
    margin-top: 10%;
    margin-left: 10%;
    color: turquoise;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}
.mediap{
    margin-left: 10%;
   
}

.button {
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    margin-left: 1%;
    background-color: gray;
    color:black;
}
.started{
    margin-top: 3%;
    margin-left: 5%;
    height: 40px;
    width: 110px;
    border-radius: 20px;
    border: 1px solid white;
    color: black;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    

    
    
    
}
.footer{
    /* background-color:gray; */
    height: 200px;
    margin-top: 65%;
    font-size: 30px;
} 
 .socials{
    margin-left: 70%;
    size-adjust: 60%;
  text-align: center;
}  



.membership1{
    background-image:url("../images/back4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100vw; */
    height: 100vh;
}
.membershipA h3 {
    color: #f1f1f1;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 60px;

}
.membershipA h4{
    color: #f1f1f1;
    font-family: roboto;
    font-size: 25px;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 270px;

}
.membershipA h5{
    color: #f1f1f1;
    font-family: roboto;
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 270px;
}
.inputName{
    color: #f1f1f1;
    font-family: sans-serif;
    display: flex;
    margin-left: 270px;
}
.inputName1{
    margin-right: 20px;
}
.gender{
    color: #f1f1f1;
    font-family: roboto;
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 270px;
}
.birthDate{
    color: #f1f1f1;
    font-family: roboto;
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 270px;
}
.contacts{
    color: #f1f1f1;
    font-family: roboto;
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 270px;
}
.resume{
    display: flex;
}
.resume h5{
    margin-right: 10px;
}

/*contacts styles*/
body {font-family: "Lato", sans-serif;}
.icon-bar{
  font-size: 40px;
  height: 50px;
  background-color:#DEE2E5 ;
  padding: 16px;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 630px;
 
  }
  .btn:hover {
    background-color: RoyalBlue;
  }

.sidebar {
  height: 100%;
  width: 200px;
  /* position: relative; */
  background-color: whitesmoke;
  padding-top: 10px;
  font-size: 10px;
  /* overflow-x: hidden; */
  /* z-index: 1;
  float: left; */
  
}

.sidebar a{
  display: block;
  color: black;
  font-size: 20px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
 
}
.sidebar a:hover {
  color: blue;
}

.PJ{
  padding-top: 80px;
}
.sc{
  padding-top: 200px;
}

.headings{
  text-align: center;
  margin-right: 1100px;
  font-size: 20px;
  padding-top: 30px;
}

.btn-group{
  margin-left: 250px;
  margin-top: 0;
}
.btn-group button {
  background-color: #DEE2E5; 
  border: 1px solid white; 
  color: black; 
  /* padding: 10px 24px; */
  cursor: pointer; 
  float: left;
  /* padding-top: 20px; */
  font-size: 15px; 
  /* position: relative; */
}


.btn-group:after {
  content: "";
  clear: both;
  display: table;
  
}
/* photos styles*/
*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
/* .input{
  display: none;
} */
.container{
  width: 100%;
  text-align: center;
}
h1{
  font-weight: normal;
  font-size: 35px;
  position: relative;
  margin: 40px;
}

.top-content{
  background-color: azure;
  width: 90%;
  margin: 0 auto 20px auto;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px lightgrey;
}
.top-content h3 {
  height: 100%;
  background-color: lightgrey;
  line-height: 60px;
  padding: 0 50px;
  color:  white;
}
.top-content label{
  display: inline-block;
  /* /* height: 100px; */
  padding: 0 5px;
  margin: 0 30px;
  line-height: 60px; 
  font-size: 18px;
  color: gray;
  cursor: pointer;
  transition: color -5s;
}
.top-content label:hover{
  color: black;
}
/*gallery styles*/
.gallery{
  padding: 10;
  max-width: 1100px;
  margin: 0 auto;
  background-color: #f2f2f2;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}
.v-stretch{
  grid-row: span 2;
}
.h-stretch{
  grid-row: span 2;
}
.big-stretch{
  grid-row: span 2;
  grid-column: span 2;
}
.gallery div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* responsive */
@media(max-width: 560px)
{
  .v-stretch{
    grid-row: span 1;
  }
  .h-stretch{
    grid-column: span 1;
  }
  .big-stretch{
    grid-row: span 1;
    grid-column: span 1;

  }
}
/* /* project list styles */
.container1{
  width: 100%;
  text-align: center;
}
h1{
  font-weight: normal;
  font-size: 35px;
  position: relative;
  margin: 40px;
}
.project-content{
  background-color: azure;
  width: 90%;
  margin: 0 auto 20px auto;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px lightgrey;
}
.project-content h3 {
  height: 100%;
  background-color: lightgrey;
  line-height: 60px;
  padding: 0 50px;
  color:  white;
}
.project-content label{
  display: inline-block;
  /* /* height: 100px; */
  padding: 0 5px;
  margin: 0 30px;
  line-height: 60px; 
  font-size: 18px;
  color: gray;
  cursor: pointer;
  transition: color -5s;
}
.project-content label:hover{
  color: black;
}
/*album styles*/
.container1{
  font-family: sans-serif;
  
}
.album{
  margin: 10px 50px;
  display: flex;
}
.album img{
  max-width: 300px; 
  width: 230px;
  padding: 5px;
  transition: 1s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.album img:hover{
filter: grayscale(0);
transform: scale(1.1);
}
/*photoshoot styles*/
.photoshoot{
  margin: 10px 50px;
  display: flex;
}
.photoshoot img{ 
  max-width: 300px;
  width: 230px;
  padding: 5px;
  transition: 1s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photoshoot img:hover{
transform: scale(1.1);
}





